@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"><br />
    
    <h1 class="display-4">Welcome To Medica &#128512;</h1>
    <span style='font-size:100px;'>&#127804; &#127804; &#127804;</span>
</div>
